<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopName%></h1>
    <p><a href="about">About <%=shopName%></a></p>
    <p><a href="search">Search For Books</a></p>
    <p><a href="addbook">Add A New Book</a></p>
    <p><a href="list">List Books</a></p>
    <p><a href="bargainbooks">Bargain Books</a></p>
    <p><a href="register">Register With Us</a></p>
    <p><a href="listusers">List Users</a></p>
    <p><a href="login">Login</a></p>
    <p><a href="logout">Logout</a></p>
    <p><a href="deleteuser">Delete Your Account</a></p>
  </body>
</html>